<div class="nav-admin-panel">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 text-left">
                    <p>Панель управления сайтом</p>
                </div>
                <div class="col-md-6 text-right nav-admin-panel-exit-link">
                    <a href="@Url.Action("Logout", "Account")"><img src="~/Content/images/site/icon-nav-exit.png" /> Выход</a>
                </div>
            </div>
        </div>
    </div>
</div>
