body {
    margin: 0;
    padding: 0;

    font-size: small;
}

nav,
footer {
    width: 100%;
    background-color: #1c1c1c;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    nav {
        height: 90px;
    }

    .nav-social {
        background-color: #ffffff;
        height: 210px;
        padding-top: 30px;
    }

    .nav-logo {
        margin-top: 60px;
    }

    .nav-link,
    .nav-contacts {
        padding-top: 30px;
    }

    .nav-link ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .nav-link ul li {
        display: inline-block;
        margin: 0 20px 0 20px;
        font-size: 1.2em;
    }

    .nav-link ul li a,
    .nav-link ul li a:visited {
        font-family: 'RalewayBold';
        color: #ffffff;
        text-decoration: none;
    }

    .nav-cart {
        padding-top: 20px;
    }

    .nav-cart a,
    .nav-cart a:active,
    .nav-cart a:visited {
        text-decoration: none;
    }

    .nav-cart a img {
        margin-top: 10px;
    }

        .nav-cart span {
            color: #ffffff;
            font-size: 0.8em;
            margin: -30px 0 0 -11px;
            text-decoration: none;
        }

    .footer-content{
        margin: 0;
        padding: 0;
    }

    .footer-logo div img{
        margin-top: 30px;
    }

    .footer-logo div .footer-logo-text{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2em;
        color: #7c7c7c;
        margin: 20px 0 20px 0;
    }

    .footer-logo div .footer-logo-copy-top,
    .footer-logo div .footer-logo-copy-bottom{
        font-family: 'RalewayRegular';
        font-size: 1.2em;
        color: #444343;
        margin: 0;
    }

    .footer-content h3{
        margin: 50px 0 30px 0;
        font-family: 'RalewayBold';
        font-size: 1.5em;
        color: #ffffff;
    }

    .footer-category{
        background-color: #d4a87a;
        padding-left: 20px;
    }

    .footer-category div ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .footer-category div ul li{
        margin: 15px 0 15px 0;
        font-size: 1.2em;
    }

    .footer-category div ul li a,
    .footer-category div ul li a:hover,
    .footer-category div ul li a:visited{
        font-family: 'Open Sans', sans-serif;
        color: #ffffff;
        text-decoration: none;
    }

    .footer-contacts{
        padding-left: 20px;
    }

    .footer-contacts img{
        max-width: 40px;
        margin-right: 10px;
    }

    .footer-contacts p{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.4em;
        color: #ffffff;
        margin: 20px 0 10px 0;
    }

    .footer-social{
        padding-left: 20px;
    }

    .footer-social div a img{
        margin-right: 10px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Small devices (tablets, 768px and up 992) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Small devices (mobile, 320px and up 767) */
@media (min-width: 320px) and (max-width: 767px) {
}

