@{
    ViewBag.Title = "Дизайн интерьера кафе и ресторанов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link href="~/Content/styles/styleHomeIndex.css" rel="stylesheet" />
    <link href="~/Content/styles/styleGoods.css" rel="stylesheet" />
}

@section Body
{
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center header-caption">
                    <h3 class="header-h3-top">ИНТЕРНЕТ-МАГАЗИН</h3>
                    <h3 class="header-h3-middle">ДИЗАЙНЕРСКОЙ МЕБЕЛИ И ПРЕДМЕТОВ ИНТЕРЬЕРА</h3>
                    <h3 class="header-h3-bottom"></h3>
                    <p class="header-p">Создаем дизайн более 9 лет</p>
                </div>
            </div>
        </div>
    </header>
    <div class="line-bottom-header">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center line-content">
                    <span class="line-content-span-left">Скидка -10%</span>
                    <span class="line-content-span-right">на следующую покупку!</span>
                    <p>Доставка по всей России и СНГ</p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-12 text-center line-img-block">
                    <a href="#special-offers"><img src="~/Content/images/site/line-block-img.png" alt="line image" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="index-special-offers" id="special-offers">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="index-special-offers-caption-p text-center">Наш Hand Made</p>
                </div>
                <div class="col-md-12 index-slider-offers-body">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center index-special-offers-caption">
                        <h3>
                            ДИЗАЙНЕРСКИЙ СВЕТИЛЬНИК ИЗ НАТУРАЛЬНОГО ДЕРЕВА
                            <span>РУЧНОЙ РАБОТЫ</span>
                            ПО ЦЕНЕ ОБЫЧНОЙ ЛЮСТРЫ ВСЕГО ЗА
                        </h3>
                        <p>
                            <span>6720</span> Руб. <span>или</span> <span>120</span> $
                        </p>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-12 index-special-offers-slider">
                        <div class="col-md-1 index-special-offers-slider-arrow-left">
                            <div class="col-md-12">
                                <img src="~/Content/images/site/index-slider-arrow-left.png" alt="slider arrow left" />
                            </div>
                        </div>
                        <div class="col-md-10 index-special-offers-slider-gallery">
                            <div class="col-md-12">
                                <div class="col-md-4 text-right slider-left">
                                    <img src="~/Content/images/site/slider-offers-photo-2.jpg" alt="slider-photo" />
                                </div>
                                <div class="col-md-4 text-center slider-center">
                                    <img src="~/Content/images/site/photo-slider-offers.jpg" alt="slider-photo" />
                                </div>
                                <div class="col-md-4 text-left slider-right">
                                    <img src="~/Content/images/site/slider-offers-photo-3.jpg" alt="slider-photo" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 index-special-offers-slider-arrow-right">
                            <div class="col-md-12">
                                <img src="~/Content/images/site/index-slider-arrow-right.png" alt="slider arrow right" />
                            </div>
                        </div>
                        <div class="col-md-12 index-special-offers-slider-orderby text-center">
                            <input type="button" value="Оформить заказ" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line-bottom-index-special-offers">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center line-bottom-index-offers-caption">
                    <h3>Добавьте <span>наш сайт</span> в закладки, чтобы в следующий раз было легче нас найти! Для этого нажмите Ctrl + D</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="index-goods-pop">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 index-goods-pop-nav-label">
                        <img src="~/Content/images/site/index-goods-pop-label.png" alt="pop goods label" />
                    </div>
                    <div class="col-md-12 text-center">
                        <p class="index-special-offers-caption-p">Наше лучшее</p>
                        <h3 class="index-pop-goods-caption">ПОПУЛЯРНЫЕ ТОВАРЫ</h3>
                    </div>
                </div>
                <div class="col-md-12 index-goods-pop-nav">
                    <div class="col-md-12 text-center index-goods-pop-nav-ul">
                        <ul>
                            <li>ВСЕ</li>
                            <li>ДВЕРИ</li>
                            <li>СВЕТИЛЬНИКИ</li>
                            <li>ЛЕСТНИЦЫ</li>
                            <li>МЕБЕЛЬ</li>
                            <li>ЭКСПЕРИМЕНТЫ ДИЗАЙНЕРОВ</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 index-goods-pop-body">
                    <div class="col-md-3">
                        <div class="col-md-12 goods-container">
                            <div class="col-md-12 goods-container-image">
                                <img src="~/Content/images/site/good-photo.jpg">
                            </div>
                            <div class="col-md-12 goods-container-image-mask text-center">
                                <p class="good-mask-logo">
                                    <img src="~/Content/images/site/good-active-logo.png" />
                                </p>
                                <p class="good-mask-about">
                                    <a href="#"><img src="~/Content/images/site/good-active-about.png" /></a>
                                    <a href="#"><img src="~/Content/images/site/good-active-buy.png" /></a>
                                </p>
                            </div>
                            <div class="col-md-12 goods-container-price">
                                <p class="goods-container-good-name">Наименование светильника</p>
                                <p class="goods-container-good-price"><span>58690</span> <span>руб.</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 goods-container">
                            <div class="col-md-12 goods-container-image">
                                <img src="~/Content/images/site/good-photo.jpg">
                            </div>
                            <div class="col-md-12 goods-container-image-mask text-center">
                                <p class="good-mask-logo">
                                    <img src="~/Content/images/site/good-active-logo.png" />
                                </p>
                                <p class="good-mask-about">
                                    <a href="#"><img src="~/Content/images/site/good-active-about.png" /></a>
                                    <a href="#"><img src="~/Content/images/site/good-active-buy.png" /></a>
                                </p>
                            </div>
                            <div class="col-md-12 goods-container-price">
                                <p class="goods-container-good-name">Наименование светильника</p>
                                <p class="goods-container-good-price"><span>58690</span> <span>руб.</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 goods-container">
                            <div class="col-md-12 goods-container-image">
                                <img src="~/Content/images/site/good-photo.jpg">
                            </div>
                            <div class="col-md-12 goods-container-image-mask text-center">
                                <p class="good-mask-logo">
                                    <img src="~/Content/images/site/good-active-logo.png" />
                                </p>
                                <p class="good-mask-about">
                                    <a href="#"><img src="~/Content/images/site/good-active-about.png" /></a>
                                    <a href="#"><img src="~/Content/images/site/good-active-buy.png" /></a>
                                </p>
                            </div>
                            <div class="col-md-12 goods-container-price">
                                <p class="goods-container-good-name">Наименование светильника</p>
                                <p class="goods-container-good-price"><span>58690</span> <span>руб.</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 goods-container">
                            <div class="col-md-12 goods-container-image">
                                <img src="~/Content/images/site/good-photo.jpg">
                            </div>
                            <div class="col-md-12 goods-container-image-mask text-center">
                                <p class="good-mask-logo">
                                    <img src="~/Content/images/site/good-active-logo.png" />
                                </p>
                                <p class="good-mask-about">
                                    <a href="#"><img src="~/Content/images/site/good-active-about.png" /></a>
                                    <a href="#"><img src="~/Content/images/site/good-active-buy.png" /></a>
                                </p>
                            </div>
                            <div class="col-md-12 goods-container-price">
                                <p class="goods-container-good-name">Наименование светильника</p>
                                <p class="goods-container-good-price"><span>58690</span> <span>руб.</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 goods-container">
                            <div class="col-md-12 goods-container-image">
                                <img src="~/Content/images/site/good-photo.jpg">
                            </div>
                            <div class="col-md-12 goods-container-image-mask text-center">
                                <p class="good-mask-logo">
                                    <img src="~/Content/images/site/good-active-logo.png" />
                                </p>
                                <p class="good-mask-about">
                                    <a href="#"><img src="~/Content/images/site/good-active-about.png" /></a>
                                    <a href="#"><img src="~/Content/images/site/good-active-buy.png" /></a>
                                </p>
                            </div>
                            <div class="col-md-12 goods-container-price">
                                <p class="goods-container-good-name">Наименование светильника</p>
                                <p class="goods-container-good-price"><span>58690</span> <span>руб.</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 goods-container">
                            <div class="col-md-12 goods-container-image">
                                <img src="~/Content/images/site/good-photo.jpg">
                            </div>
                            <div class="col-md-12 goods-container-image-mask text-center">
                                <p class="good-mask-logo">
                                    <img src="~/Content/images/site/good-active-logo.png" />
                                </p>
                                <p class="good-mask-about">
                                    <a href="#"><img src="~/Content/images/site/good-active-about.png" /></a>
                                    <a href="#"><img src="~/Content/images/site/good-active-buy.png" /></a>
                                </p>
                            </div>
                            <div class="col-md-12 goods-container-price">
                                <p class="goods-container-good-name">Наименование светильника</p>
                                <p class="goods-container-good-price"><span>58690</span> <span>руб.</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 goods-container">
                            <div class="col-md-12 goods-container-image">
                                <img src="~/Content/images/site/good-photo.jpg">
                            </div>
                            <div class="col-md-12 goods-container-image-mask text-center">
                                <p class="good-mask-logo">
                                    <img src="~/Content/images/site/good-active-logo.png" />
                                </p>
                                <p class="good-mask-about">
                                    <a href="#"><img src="~/Content/images/site/good-active-about.png" /></a>
                                    <a href="#"><img src="~/Content/images/site/good-active-buy.png" /></a>
                                </p>
                            </div>
                            <div class="col-md-12 goods-container-price">
                                <p class="goods-container-good-name">Наименование светильника</p>
                                <p class="goods-container-good-price"><span>58690</span> <span>руб.</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 goods-container">
                            <div class="col-md-12 goods-container-image">
                                <img src="~/Content/images/site/good-photo.jpg">
                            </div>
                            <div class="col-md-12 goods-container-image-mask text-center">
                                <p class="good-mask-logo">
                                    <img src="~/Content/images/site/good-active-logo.png" />
                                </p>
                                <p class="good-mask-about">
                                    <a href="#"><img src="~/Content/images/site/good-active-about.png" /></a>
                                    <a href="#"><img src="~/Content/images/site/good-active-buy.png" /></a>
                                </p>
                            </div>
                            <div class="col-md-12 goods-container-price">
                                <p class="goods-container-good-name">Наименование светильника</p>
                                <p class="goods-container-good-price"><span>58690</span> <span>руб.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-how-we-work">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center index-how-we-work-caption">
                    <p class="index-special-offers-caption-p">Как приобрести</p>
                    <h3 class="index-pop-goods-caption">КАК МЫ РАБОТАЕМ</h3>
                </div>
                <div class="col-md-12 index-how-we-work-content">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <div class="col-md-12 text-center how-we-work-body we-work-1">
                            <img src="~/Content/images/site/how-we-work-ico-1.png" />
                            <div class="col-md-12 text-center">
                                <p>ВЫ ВЫБИРАЕТЕ ИНТЕРЕСУЮЩИЕ ВАС ТОВАРЫ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-12 text-center how-we-work-body we-work-2">
                            <img src="~/Content/images/site/how-we-work-ico-2.png" />
                            <div class="col-md-12 text-center">
                                <p>НАШИ МЕНЕДЖЕРЫ СВЯЗЫВАЮТСЯ С ВАМИ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-12 text-center how-we-work-body we-work-3">
                            <img src="~/Content/images/site/how-we-work-ico-3.png" />
                            <div class="col-md-12 text-center">
                                <p>УТОЧНЯЕМ ПАРАМЕТРЫ ЗАКАЗА И ДОСТАВКУ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-12 text-center how-we-work-body we-work-4">
                            <img src="~/Content/images/site/how-we-work-ico-4.png" />
                            <div class="col-md-12 text-center">
                                <p>ВЫ ОПЛАЧИВАЕТЕ ЗАКАЗ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-12 text-center how-we-work-body we-work-5">
                            <img src="~/Content/images/site/how-we-work-ico-5.png" />
                            <div class="col-md-12 text-center">
                                <p>ОТПРАВКА ЗАКАЗА</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center index-about-caption">
                    <p class="index-special-offers-caption-p">Творческие люди</p>
                    <h3 class="index-pop-goods-caption">О НАШЕЙ КОМАНДЕ</h3>
                </div>
                <div class="col-md-12 index-about-content">
                    <div class="col-md-6">
                        <div class="col-md-12 index-about-video">
                            <iframe src="https://vk.com/video_ext.php?oid=52019604&id=456239050&hash=3349e42969c82de7"
                                    frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="col-md-6">
                            <img src="~/Content/images/site/index-photo-designer-1.png" alt="photo designer" />
                            <p class="index-about-name">Павел Васильев</p>
                            <p class="index-about-prof">Художник-оформитель</p>
                        </div>
                        <div class="col-md-6">
                            <img src="~/Content/images/site/index-photo-designer-2.png" alt="photo designer" />
                            <p class="index-about-name">Алёна Моисеева</p>
                            <p class="index-about-prof">Дизайнер, Арт-директор</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 text-right line-about">
                        <img src="~/Content/images/site/line-about-caption.jpg" alt="line caption" />
                    </div>
                    <div class="col-md-4 text-center line-caption-about">
                        <h3>Творческий процесс</h3>
                    </div>
                    <div class="col-md-4 text-left line-about">
                        <img src="~/Content/images/site/line-about-caption.jpg" alt="line caption" />
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 text-center line-text-about">
                            <p>
                                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                                Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации
                                "Здесь ваш текст..Здесь ваш текст.. Здесь ваш текст.."
                            </p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line-bottom-index-about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center line-bottom-index-about-caption">
                    <h3>Приглашаем к <span>сотрудничеству</span> дизайнеров!</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="index-reviews">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center index-reviews-caption">
                    <p class="index-special-offers-caption-p">О нас говорят</p>
                    <h3 class="index-pop-goods-caption">ОТЗЫВЫ НАШИХ ПОКУПАТЕЛЕЙ</h3>
                </div>
                <div class="col-md-12">
                    <div class="col-md-1 review-arrow">
                        <img src="~/Content/images/site/review-arrow-left.png" alt="image review arrow left" />
                    </div>
                    <div class="col-md-10">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="col-md-6 review-name-caption-block">
                                    <p class="review-name">АЛЕКСАНДР</p>
                                    <p class="review-city">Санкт-Петербург</p>
                                </div>
                                <div class="col-md-12 review-block-text">
                                    <div class="col-md-6 text-left review-image-quotes">
                                        <img src="~/Content/images/site/review-text-quotes.png" />
                                    </div>
                                    <div class="col-md-6 text-center review-image-photo">
                                        <img src="~/Content/images/site/review-photo-1.png" />
                                    </div>
                                    <div class="col-md-12 review-text">
                                        <p>
                                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                                            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона,
                                            а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации
                                            "Здесь ваш текст..
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="col-md-6 review-name-caption-block">
                                    <p class="review-name">СВЕТЛАНА</p>
                                    <p class="review-city">Санкт-Петербург</p>
                                </div>
                                <div class="col-md-12 review-block-text">
                                    <div class="col-md-6 text-left review-image-quotes">
                                        <img src="~/Content/images/site/review-text-quotes.png" />
                                    </div>
                                    <div class="col-md-6 text-center review-image-photo">
                                        <img src="~/Content/images/site/review-photo-2.png" />
                                    </div>
                                    <div class="col-md-12 review-text">
                                        <p>
                                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                                            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона,
                                            а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации
                                            "Здесь ваш текст..
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 review-arrow">
                        <img src="~/Content/images/site/review-arrow-right.png" alt="image review arrow right" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-contacts">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center line-img-block">
                    <a href="#contacts"><img src="~/Content/images/site/line-block-img.png" alt="line image" /></a>
                </div>
                <div class="col-md-12 text-center index-contacts-caption" id="contacts">
                    <p class="index-special-offers-caption-p">Мы на связи</p>
                    <h3 class="index-pop-goods-caption">НАШИ КОНТАКТЫ</h3>
                </div>
                <div class="col-md-12 contacts-block">
                    <div class="col-md-4">
                        <div class="col-md-12 text-center contacts-content">
                            <img src="~/Content/images/site/contacts-phone-ico.png" alt="contacts phone icon" class="contacts-main-ico"/>
                            <p>ТЕЛЕФОН</p>
                            <img src="~/Content/images/site/contacts-phone-watts.png" alt="contacts watsapp icon" class="contacts-add-ico"/>
                            <img src="~/Content/images/site/contacts-phone-viber.png" alt="contacts viber icon" class="contacts-add-ico" />
                            <span>+7 (928) 342-47-53</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 text-center contacts-content">
                            <img src="~/Content/images/site/contacts-mail-ico.png" alt="contacts mail icon" />
                            <p>ПОЧТА</p>                            
                            <span>shtuki-tuki@yandex.ru</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 text-center contacts-content">
                            <img src="~/Content/images/site/contacts-cup-ico.png" alt="contacts cup icon" class="contacts-main-ico" />
                            <p>МЫ В СОЦ СЕТЯХ</p>
                            <a href="#" target="_blank"><img src="~/Content/images/site/contacts-cup-instagram.png" alt="contacts instagram icon" class="contacts-add-ico" /></a>
                            <a href="#" target="_blank"><img src="~/Content/images/site/contacts-cup-ok.png" alt="contacts odnoklassniki icon" class="contacts-add-ico" /></a>
                            <a href="#" target="_blank"><img src="~/Content/images/site/contacts-cup-vk.png" alt="contacts vkontakte icon" class="contacts-add-ico" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="col-md-12 text-center index-feedback-caption">
                            <h3 class="index-pop-goods-caption">У ВАС ЕСТЬ ВОСПРОС?</h3>
                            <p>Оставьте свое сообщение и мы с вами свяжемся</p>
                        </div>
                        <div class="col-md-12">
                            <form class="col-md-12 form-feedback">
                                <div class="col-md-6">
                                    <p>Ваше имя</p>
                                    <input type="text" class="form-feedback-name" />
                                    <p>Ваш телефон</p>
                                    <input type="text" class="form-feedback-phone" />
                                </div>
                                <div class="col-md-6">
                                    <p>Ваша фамилия</p>
                                    <input type="text" class="form-feedback-sername" />
                                    <p>Ваш e-mail</p>
                                    <input type="email" class="form-feedback-email" />
                                </div>
                                <div class="col-md-12">
                                    <p>Ваше сообщение</p>
                                    <textarea class="form-feedback-message"></textarea>
                                </div>     
                                <div class="col-md-12">
                                    <input type="submit" value="Отправить сообщение" class="form-feedback-submit" />
                                </div>                          
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".goods-container-image-mask").hover(
            function () {
                // навели курсор на объект


            }, function () {
                // отвели курсор с объекта

            });
        });
    </script>
}


